
//菜单宽度
$navWidth:250px;
$navminWidth:64px;
$headerHeight:75px;

$color_nav_main:#f56c6c;

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.btn-block{
    display: block;
    width: 100%;
}
.el-menu{
    border: none;
}


.el-menu-item-group__title{
    padding: 0 !important;
}

.el-submenu .el-menu-item{
    font-size: 14px;
    padding-left: 50px !important;
    &.is-active{
        background-color: rgba($color: $color_nav_main , $alpha: .5) !important;
    }
}

.el-submenu{
    &.is-active.is-opened .el-submenu__title{
        background-color: $color_nav_main !important;
    }
}

.upload-img-wrap {
    display: flex;
    .upload-img{
        background-color: #fbfdff;
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        width: 148px;
        height: 148px;
        cursor: pointer;
        line-height: 146px;
        vertical-align: top;
        text-align: center;
        &::before{
            content: '+';
            font-size: 50px;
            font-weight: 300;
            color: #ccc;
        }
    }
    .img-list{
        display: flex;
        flex:1;
        padding-left: 30px;
        li{
            img{
                width: 50px;
                height: 50px;
            }
            ~li{
                padding-left: 20px;
            }
        }
    }
}